{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div style="width: fit-content; margin: auto; display: flex;">
        {%  if not app.user %}
            <a href="/login"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Se connecter</button></div></a>
            <a href="/register"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Créer un compte</button></div></a>
        {%  endif %}
        <a href="/"> <div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Classement</button></div></a>
        <a href="/score"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Score</button></div></a>
        <a href="/contact"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Contactez-nous</button></div></a>
        {% if app.user %}
            <a href="/profil"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Mon compte</button></div></a>
            <a href="/logout"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Se déconnecter</button></div></a>
        {% endif %}
    </div>
    {% for gamble in gambles %}

        <div>Mon profil</div>
        <div style="display: flex;">
            <div style="display: inline-block;">
                <div>{{ gamble.getIdUser()}}</div>
                <div>{{ matchs[gamble.getIdUser()+1].teams.domicile }}</div>
                <div>{{ matchs[gamble.getIdUser()+1].teams.exterieur }}</div>
            </div>
            <div style="display: inline-block;">
                <div>Vous avez parié :</div>
                <div>{{ gamble.getScoreDomicile() }}</div>
                <div>{{ gamble.getScoreExterieur() }}</div>
            </div>
            <div style="display: inline-block;">
                {% if matchs[gamble.getIdUser()+1].scores is defined %}
                {% set winner = gamble.getScoreDomicile() > gamble.getScoreExterieur() ? "domicile" : "exterieur" %}
                    {% if matchs[gamble.getIdUser()+1].scores.domicile == gamble.getScoreDomicile() and matchs[gamble.getIdUser()+1].scores.exterieur == gamble.getScoreExterieur()  %}
                        <div>Vous avez gagné 3 points.</div>
                    {% elseif matchs[gamble.getIdUser()+1].scores.winner == winner %}
                        <div>Vous avez gagné 1 points. </div>
                    {% endif %}
                <div></div>
                {% else %}
                <div>La match n'est pas encore passé.</div>
                {% endif %}
            </div>
        </div>

    {% endfor %}
    <div>Votre score est de {{ point }} points.</div>
{% endblock %}