{% extends 'base.html.twig' %}

{% block title %}
    Notre catalogue
{% endblock %}

{% block body %}
    <h1>Voici nos produits :</h1>

    <ul>
        {% for product in listProducts %}
            <li><b>{{ product.name }}</b> à {{ product.price }} €</li>
        {% endfor %}
    </ul>

    <p><b>Produit avec l'ID 1 : </b>{{ productID.name }} à {{ productID.price }} €</p>

    <div>{{ form(form) }}</div>
{% endblock %}