{% extends 'base.html.twig' %}

{% block title %}Liste des matchs{% endblock %}

{% block body %}
    <div style="width: fit-content;margin: auto; display: flex;">
        {%  if not app.user %}
            <a href="/login"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Se connecter</button></div></a>
            <a href="/register"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Créer un compte</button></div></a>
        {%  endif %}
        <a href="/classment"> <div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Classement</button></div></a>
        <a href="/score"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Score</button></div></a>
        <a href="/contact"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Contactez-nous</button></div></a>
        {% if app.user %}
            <a href="/profil"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Mon compte</button></div></a>
            <a href="/logout"><div style="margin: 0 10px 0 10px; display: inline-block;"><button style="background-color: white; height: 50px; width: 150px; border: 4mm ridge rgba(255, 0, 0); cursor:pointer;" type="button">Se déconnecter</button></div></a>
        {% endif %}
    </div>
    <div>
        <div style="font-size: 100px; text-align: center; color: red;">Listes des matchs</div>
        {% set compteur = 0 %}
        {% for match in matchs %}
        <div style="border: solid black 1px; background-color: blue; margin: 10px 0 10px 0; color: black; font-size: 30px; padding:10px;">
            <div style="display: inline-block; width:30%; ">
                <div>{{ match.teams.domicile }}</div>
                <div>{{ match.teams.exterieur }}</div>
                <div>Le {{ match.date|split(' ')[0]|split('-')[2] }}/{{ match.date|split(' ')[0]|split('-')[1] }}/{{ match.date|split(' ')[0]|split('-')[0] }},</div>
                <div>À {{ match.date|split(' ')[1]|split(':')[0] }}h {{ match.date|split(' ')[1]|split(':')[1] }}.</div>
            </div>
            <!-- Partie qui change en fonction -->
            {% if "now"|date("U") > match.date|date("U") %}
                <div style="display: inline-block; position:relative; bottom: 40px; ">
            <!-- Le match est déjà terminé -->
                {% if match.scores.tireaubut == true %}
                    <!-- affichage du gagnant au tir au but -->
                    {% set winner = match.scores.winner %}
                    <div>Le gagnant est {{ match.teams[winner] }} au tir au but.</div>
                {% else %}
                    <!-- affichage du gagnant -->
                    {% set winner = match.scores.domicile > match.scores.exterieur ? match.teams.domicile : match.teams.exterieur  %}
                    <div>Le gagnant est {{ winner }}.</div>
                    <div>{{ match.teams.domicile }} : {{ match.scores.domicile }} / {{ match.scores.exterieur }} : {{ match.teams.exterieur }}</div>
                {% endif %}
                </div>
            {% elseif app.user %}
            <!-- Le match n'est pas encore commencer -->
                <div style="display: inline-block; position: relative; bottom: 10px;">
                    <form method="post" action="create_gamble">
                        <div>

                        <input type="hidden" value="{{ compteur }}" name="id_score">
                        <label for="score_domcicile">Score pour {{ match.teams.domicile }}</label>
                        <input type="number" name="score_domicile" id="inputScoreDomicile" required autofocus>
                        </div>
                        <div>
                        <label for="score_exterieur">Score pour {{ match.teams.exterieur }}</label>
                        <input type="number"  name="score_exterieur" id="inputScoreExterieur" required autofocus>
                        </div>
                        <div style="width: fit-content; margin: 0 auto 0 auto;">
                        <button type="submit">
                            Valider
                        </button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div style="display: inline-block; position: relative; bottom: 10px;">Connectez-vous pour pouvoir parier sur notre site !</div>
            {% endif %}
        </div>
            {% set compteur = compteur + 1 %}
        {% endfor %}
    </div>
{% endblock %}